[Unit]
Description=Blacklist service for banning and unbanning ip addresses of subnets.
Wants=fail2ban.service
After=fail2ban.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/blacklist-scripts/blacklist-ip.sh -c %i -start 2>/dev/null
ExecStop=/etc/blacklist-scripts/blacklist-ip.sh -stop 2>/dev/null
ExecReload=/etc/blacklist-scripts/blacklist-ip.sh -c %i -reload 2>/dev/null

[Install]
WantedBy=multi-user.target
